/* style.css */



h1 {
    display: flex;
    justify-content: left;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    display: flex;
    background-color: #71cb98;
    width: 100vw;
    height: auto;
}

.intro {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19.5px;
}


p {
    margin-left: 30px;

}

.pp {
    display: flex;
    justify-content: left;
    margin-left: 15px;
    align-items: center;
}

.pp img {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 420px;
    width: 310px;
}

.intro .socials {
    display: flex;
    justify-content: left;
    left:350px; 
    top:250px;

}

.github, .linkedin {
    border: none;
    padding: 20px;
    background-color: transparent;
}

.github img, .linkedin img {
    width: 220px;
    height: 220px;
}

a {
    color: red;
    text-decoration: none;

}

a:hover{
    color: blue;
    text-decoration: line-through;
    filter: invert(100%);
    transition: 300ms ease-in-out;
}


@media screen and (max-width: 575px) {
    .card {
      display: block;
      width: fit-content;
    }
    .intro {margin-left: 0px;
    }
    .pp img {
        margin-left: 0px;
        margin-right: 0px;
        height: 450px;
        width: 320px;
    }
    .github, .linkedin {
        margin-left:auto;
        margin-right: auto;
    }
    .github img,
    .linkedin img {
        width: 100px;
        height: 100px;
        margin-left:auto;
        margin-right: auto;
    }
    .intro {
        margin: 0px;
    }
}

@media screen and (min-width: 700px) {
    .card {
        background-color:#71cb98;
        width: 100vw;
    }
    .pp img {
        height: 350px;
        width: 260px;
    }
    .intro {
        margin-left: 0px;
        font-size: 18px;
    }
    .github img,
    .linkedin img {
        width: 100px;
        height: 100px;
        margin-left: 5px;
    }
}


